<h1> Flatiron Cupcake Shop Location </h1>

<h3> 11 Broadway Street </h3>
<h3> New York, NY 10004 </h3>
<br>
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3024.58563202683!2d-74.01588347528396!3d40.7051227470847!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c25a1160e06645%3A0x223402a1f64f844f!2s11%20Broadway%2C%20New%20York%2C%20NY%2010004!5e0!3m2!1sen!2sus!4v1573658381564!5m2!1sen!2sus" width="450" height="450" frameborder="0" style="border:0;" allowfullscreen=""></iframe>